/* header */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.header__logo {
    width: 3.82rem;
    height: 1.188rem;
    padding: 1.875rem 0;
}

.header__nav {
    display: flex;
    column-gap: 4.25rem;
    height: 2.188rem;
}

.header__a {
    text-align: center;
    padding-top: 0.125rem;
}
.header__a:hover {
    color: var(--main-color);
    border-top: solid 0.125rem var(--main-color);
    padding-top: 0;   
    
}

.header__span {
    display: block;
    position: relative;
    inset-block-start: 0.801rem;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        flex-direction: column;
    } 
    
    .header__logo {
        align-self: center;
        padding: 1.875rem;
    }

    .header__nav {
        column-gap: 0;
    }

    .header__a {
        flex: 1pc;
        padding: 0;
    }

    .header__a:hover {
        border-top: none;
        border-bottom: solid 0.125rem var(--main-color);
        padding-bottom: 0;
    }

    .header__span {
        inset-block-start: 0;
    
    }
}