#activity {
    margin: 35px 0;
    padding: 30px;
}

#activity h2 {
    margin-bottom: 30px;
}

#activity div {
    display: flex;
    gap: 30px;
}

#activity a {
    width: 24.99999%;
}

#activity img {
    width: 100%;
}


@media (max-width: 767.98px) {

    #activity div {
        flex-direction: column;
        gap: 15Px;
    }

    #activity a {
        width: 100%;
    }


}
