#activity {
    margin: 35px 0;
    padding: 30px;

    background-color: cyan;
}

#activity h2 {
    margin-bottom: 30px;
}

#activity div {
    display: flex;
    gap: 30px;
}

#activity a {
    width: 24.99999%;
}