/* info-group */
#info-group {
    margin: 1.875rem 0 2.188rem 0;
}

#info-group p {
    margin: 0.5rem 0 0 0;
}

.search-bar {
    margin-block: 2.188rem;
}

.filter-bar {
    margin-block: 2.188rem;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.infobar span {
    border: solid 1px var(--filter-border);
    border-radius: 100px;
    padding: 0px 8.5px 3.5px 8.5px;
}

.infobar i {
    font-size: 0.625rem;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    #info-group {
        margin: 1.875rem 1.25rem 2.188rem 1.25rem;
    }
}